// ------------------------ Fonts -------------------------------//

%font-h1{
    font-family: $montserrat;
    font-weight: 700;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    line-height: 33px;
}

%font-text-black {
    font-family: $roboto;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}

%hover-text {
    font-family: $roboto;
    font-size: 11px;
    color: $clear;
    line-height: 14px;
    font-weight: 400;
}

%paragraph {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 14px;
    color: $main;
    text-align: center;
    line-height: 25px;
}

%font-nav {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 14px;
    color: $main;
    line-height: 23px;
}

//-------------------------- button ----------------------------- //

%button_ver_mas{
        margin: 74px; 
        border: 1px solid $main;
        width: 127px;    
        height: 50px;
        border-radius: 25px;
        padding: 7px;
        @extend %font-h1;
        font-weight: 700; 
        font-size: 13px;
        color: $main;
        background: $clear;
        &:hover {
            background: $main;
            color: $clear;
            cursor: pointer;
        }
        &:focus {
            background: $clear;
        }
        body.dark &{
            background: transparent;
            color: $clear;
            border-color: $clear;
            &:hover {
             background-color: $clear;
             color: $darkmode;   
            }
        }
 }

// ---------------------- GIF HOVER ---------------------------


%results-hover-mobile{
        display: flex;
        flex-direction: row;
        .search_result {
            position: relative;
            margin-right: 15px;
            margin-top:15px ;
            }
            img{
                width: 150px;
                height: 150px;
                object-fit:cover; 
            }
            .img_hover{
                position: absolute;
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items: flex-start;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color:$hover;
                padding: 10px;
                cursor: pointer;
                .icons_box {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    justify-content: flex-end;
                    .fav_icon{
                        background: url(/assests/icon-fav.svg);
                        width: 32px;
                        height: 32px;
                        transition: all 0.3s ease-out;
                        &:hover{
                            background: url(/assests/icon-fav-hover.svg);
                            
                        }
                        .active{
                            background-image: url(/assests/icon-fav-active.svg) no-repeat;
                            background-position: center;
                            background-color: $clear;
                            border-radius: 6px;
                        }
                        
                    }
                    
                    .download_icon {
                        background: url(/assests/icon-download.svg);
                        width: 32px;
                        height: 32px;
                        margin-left: 5px;
                        &:hover{
                            background: url(/assests/icon-download-hover.svg);
                        }
                    }
                    .expand_icon {
                        background: url(/assests/icon-max-normal.svg);
                        width: 32px;
                        height: 32px;
                        margin-left: 5px;
                        &:hover{
                            background: url(/assests/icon-max-hover.svg);
                        }
                    }
                }
                .text_box{ 
                    display: flex;
                    flex-direction: column;
                    p{
                        margin-top: 0;
                        @extend %hover-text;
                        text-align: left;
                    }
                }
            }
        }
