// ------------------------ Fonts -------------------------------//

%font-h1{
    font-family: $montserrat;
    font-weight: 700;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    line-height: 33px;
}

%font-text-black {
    font-family: $roboto;
    font-size: 16px;
    color: #000000;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}

%hover-text {
    font-family: $roboto;
    font-size: 11px;
    color: $clear;
    line-height: 14px;
    font-weight: 400;
}

%paragraph {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 14px;
    color: $main;
    text-align: center;
    line-height: 25px;
}

%font-nav {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 14px;
    color: $main;
    line-height: 23px;
}

//-------------------------- button ----------------------------- //

%button_ver_mas{
        margin: 74px; 
        border: 1px solid $main;
        width: 127px;    
        height: 50px;
        border-radius: 25px;
        padding: 7px;
        @extend %font-h1;
        font-weight: 700; 
        font-size: 13px;
        color: $main;
        background: $clear;
        &:hover {
            background: $main;
            color: $clear;
            cursor: pointer;
        }
        &:focus {
            background: $clear;
        }
        body.dark &{
            background: transparent;
            color: $clear;
            border-color: $clear;
            &:hover {
             background-color: $clear;
             color: $darkmode;   
            }
        }
 }

