#mis_gifos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        margin-top: 5px;
        margin-bottom: 7px;
    }
    h1 {
        @extend %font-h1;
        color: $main;
        margin-bottom: 46px;
    }
    #mis_gifos_results {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        p{
            @extend %font-h1;
            width: auto;
            color: $secondary;
            body.dark & {
                color: $clear;
            }
        }
        .my_gif{
            display: none;
            margin-bottom: 20px;
            width: 250px;
            // height: 400px;
        }
        img {
            display: none;
        }
        
    }
    #btn_ver_mas_gifos{
        display: none;
        @extend %button_ver_mas;
    }
    .button_ver_mas{
        display: block;
        @extend %button_ver_mas;
    }
}
