#results{
     display: flex;
     flex-direction: column;
     align-content: center;
     transition: .3s ease all;
     #search_result{
        @extend %results-hover-mobile; 
         width: 88%;
         margin: 0 auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-around;
         align-content: space-around;
     }
    .hr {
        display: none;
    margin: 0 auto;
    height: 1px;
    width: 157px;
    background: #9CAFC3;
    margin-bottom:43px ;
    opacity: 0.5;
    }
    .search_text{
        @extend %font-h1;
        color: $main;
        font-size: 25px;
        text-transform: lowercase;
        margin-bottom: 25px;
        &::first-letter{
            text-transform: uppercase;
        }
        body.dark & {
            color: $clear;
        }
    }    
    .button_ver_mas {
        display: none;
        margin: 0 auto;
        @extend %button_ver_mas;
        margin-bottom: 74px;
        margin-top:75px;
        transition: .3s ease all;
    }
    // NO RESULT
    .no_results{
        display: none;
        flex-direction: column;
        align-items: center;
        img {
            margin-top: 20px;
            width: 150px;
            height: 150px;
        }
        p {
            width: 100%;
            margin-top:29px;
            margin-bottom: 29px;
            @extend  %font-h1;
            color: $secondary;
        }
    }
}
    //-------------- MODAL ---------//
    #modal{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        background-color:$modal;
        flex-direction: column;
        z-index: 1;
        transition: .3s ease all;
        body.dark & {
            background-color:$nav_dark_mode;
        }
        .close_modal{
            width: 15px;
            height: 15px;
            margin: 33px;
            margin-right: 10%;
            align-self: flex-end;   
            cursor: pointer;
            background-image: url(/assests/close.svg);
            body.dark & {
                background-image: url(/assests/close-modo-noct.svg);
              }

        }
       #modal_container {
           display: flex;
           justify-content: center;
            align-items: center;
            .left_div {
                display: none;
                background-image: url(/assests/button-slider-left.svg);
                width:40px;
                height: 40px;
                &:hover {
                    cursor: pointer;
                    background-image: url(/assests/button-slider-left-hover.svg);
                }
            }
            #gif_expanded{
                margin: 25px 20px 5px 20px;
                width: 318px;
                height: 245px;
                object-fit: contain;
            }
            .rigth_div {
                display: none;
                background-image: url(/assests/Button-Slider-right.svg);
                width:40px;
                height: 40px;
                &:hover {
                    cursor: pointer;
                    background-image: url(/assests/Button-Slider-right-hover.svg);
                }
            }
        }
        #modal_text_buttons{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 50vw;
            #modal_text{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                p{
                    @extend %hover-text;
                    color: $darkmode;
                    text-align: left;
                    font-size: 15px;
                    line-height: 15px;
                    body.dark &{
                        color: $clear;
                    }
                }
            }
            #modal_buttons{
                    display: flex;
                    flex-direction: row;
                    

            .fav_modal{
                background: url(/assests/icon-fav.svg);
                width: 32px;
                height: 32px;
                transition: all 0.3s ease-out;
                &:hover{
                    background: url(/assests/icon-fav-hover.svg);
                    cursor: pointer;
                }
                .active{
                    background-image: url(/assests/icon-fav-active.svg) no-repeat;
                    background-position: center;
                    background-color: $clear;
                    border-radius: 6px;
                    }
                }
            .download_modal {
                    background: url(/assests/icon-download.svg);
                    width: 32px;
                    height: 32px;
                    margin-left: 5px;
                    &:hover{
                        background: url(/assests/icon-download-hover.svg);
                        cursor: pointer;
                    }
                }
            }
        }
    }



// ---------------- Media querys----------------------//

@include tablets {
   #results{
       display: flex;
       margin: 0;
       padding: 0;      
       hr{
           width: 25%;
       }
       .search_text{
           font-size: 30px;
           body.dark & {
            color: $clear;
        }
       }
       #no_result{
           display: none;
       }
       #search_result {
        display: flex;
        margin-top: 70px;
        position: relative;
        .search_result{
            position: relative;
            margin-right: 15px;
            margin-top: 17px; 
            img {
                flex-flow: row wrap;
                justify-content: space-around;  

                width: 244px;
                height: 244px;
                }
                .img_hover{
                    .icons_box {
                        .fav_icon{
                            width: 32px;
                            height: 32px;
                        }
                        .download_icon {
                            width: 32px;
                            height: 32px;
                            margin-left: 10px;
                        }
                        .expand_icon {
                            width: 32px;
                            height: 32px;
                            margin-left: 10px;
                        }
                    }
                    .text_box{
                        p{
                            font-size: 15px;
                            line-height: 18px;
                        }
            }
        }
   }
}}
   // MODAL 
   #modal{
       display: none;
       .close_modal{
        margin-right: 20%;
       }
       #modal_container{
        display: flex;         
            .left_div {
                display: block;
                background-image: url(/assests/button-slider-left.svg);
                width:40px;
                height: 40px;
                &:hover {
                    cursor: pointer;
                    background-image: url(/assests/button-slider-left-hover.svg);
                }
                body.dark & {
                    background-image: url(/assests/button-slider-left-md-noct.svg);
                    &:hover {
                        background-image: url(/assests/button-slider-left-hover-modo-noct-01.svg);
                    }
                }
            }
            #gif_expanded{
                margin: 25px;
                width: 50vw;
                height: 385px;
                object-fit: contain;
            }
            .rigth_div {
                display: block;
                background-image: url(/assests/Button-Slider-right.svg);
                width:40px;
                height: 40px;
                &:hover {
                    cursor: pointer;
                    background-image: url(/assests/Button-Slider-right-hover.svg);
                }
                body.dark & {
                    background-image: url(/assests/button-slider-right-md-noct.svg);
                    &:hover {
                        background-image: url(/assests/Button-Slider-right-hover-modo-noct-01.svg);
                    }
                }
            }
        }
        #modal_text_buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto;
            width: 50vw;
            #modal_text{
                p{
                    font-size: 18px;
                    line-height: 20px;
                }
        }
    }
}
}