
//------------------------SEARCH SECTION--------------------------------//
 
 #search {
     display: flex;
     flex-direction:column;
     align-items: center;
     h1 {
        @extend %font-h1;
        color: $main;
        font-size: 25px;
        width: 76%;
        max-width: 450px;
        margin-bottom:31px;
        body.dark & {
            color:$clear;
        }
     }
     .main_img {
         width: 72.8%;
         height: 5.5%;
         max-width: 400px;
         max-height: 200px;
     }
     .search_gifos {
        display: flex;
        width: 90%;
        flex-direction: column;
        max-width: 551px;
        height: auto;
        margin-top: 10p;
        border: 1px solid #572EE5;
        border-radius: 27px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-around;
         body.dark & {
            border: 1px solid $clear;
        }
        #input_box {
            display:flex;
                input{
                    @extend %font-text-black;
                    width: 85%;
                    text-align: start;
                    border: none;
                    margin-left: 35px;
                    background-color: transparent;
                    box-shadow: none;
                    &:focus{
                        outline: none;
                        background-color: transparent;
                        box-shadow: none;
                    }
                    body.dark & {
                        color:$clear;
                    }
                    
                }
                #search_button {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                    cursor: pointer;
                    border: none;
                    background: none;
                    outline: none;
                    background-image: url('/assests/icon-search.svg');
                    background-repeat: no-repeat;
                    body.dark & {
                        background-image: url('/assests/icon-search-mod-noc.svg');
                    }
                }
     } }
     .trending_text {
         width: 50%;
         text-align: center;
         color: $main;
         text-transform: capitalize; 
         margin: 55px;
         body.dark & {
            color:$clear;
        }
         h3 {
            @extend %font-h1;
            color: $main;
            font-size: 16px;
            margin-bottom: 10px;
         }
         .spam{ 
             @extend %paragraph;
             font-size: 16px;  
             body.dark & {
                color:$clear;
            }     
            cursor: pointer;      
         }
     }
 }

 #suggestions_input {
    width: 89.1%;
    margin: 0 auto;
    .hr_suggestions {
        width: 95%;
        margin: 8px auto 5px;
        opacity: 0.5;
        color: #9CAFC3;
    }

    .li_suggestions{
        margin: 10px 7% 0;
        list-style: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        @extend %font-text-black;
        font-size: rem(16px);
        color: $active;
        text-align: left; 
        transition: all 0.3s ease-out;
        &:hover{
            color: $main;
            font-size: 18px;
            cursor: pointer;
        }
        body.dark & {
            color:$modal;
        }   
        .spam_lupa {
            background-image: url('/assests/icon-search-grey.svg');
            width: 15.8px;
            height: 15.8px;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 5px;
        }   
    }
}

//----------------------------------------------------------------------------//
// ----------------------- MEDIA QUERY DESKTOP ------------------------------//
// -------------------------------------------------------------------------//

@include tablets {
    #search{
        .search_gifos{
            body.dark & {
                border: 1px solid $clear;
            }
            input{
                margin-left: 0px;
                &:focus{
                    outline: none;
                }
            }
        }
        .trending_text{
            margin: 90px;
            margin-top: 50px;
            h3{
                font-size:18px;
            }
        }
    }
    
}

@include desktop {
    #search{
        h1{
            font-size: 2rem;
        }
    }
    
}