#trending{
    background: #F3F5F8;
    body.dark & {
        background-color: $trending_dark_mode;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    h2{
        margin-top: 60px;
        @extend %font-h1;
        color: $main;
    }
    p {
        margin-top: 7px;
        margin-bottom: 25px;
        @extend %font-text-black;
        width: 55%;
    }
    #trending_modal {
        width: 100%;
        #trending_gifs{
            @extend %results-hover-mobile;
            margin: 0px 15px 0px 15px;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            
            img{
                width: 244px;
                height: 244px;
            }
            }
        .rigthbtn {
            display: none;
            align-self: center;
            background-image: url(../assests/Button-Slider-right.svg);
            width:40px;
            height:40px;
                &:hover {
                    cursor: pointer;
                    background-image: url(../assests/Button-Slider-right-hover.svg);
                    }
                    body.dark & {
                        background-image: url(../assests/button-slider-right-md-noct.svg);
                        &:hover {
                            background-image: url(../assests/Button-Slider-right-hover-modo-noct-01.svg);
                        }
                    }
            }
        }
}


//  Media querys
@include tablets {
    #trending {
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 18px;
        }
        #trending_modal {
            display: flex;
            width: 90%;
            justify-content: center;
            .leftbtn { 
                display: flex;
                margin-right: 10px;
            }
        
            #trending_gifs{
                margin: 0px 0px 100px 0px;
                overflow-x: hidden;
                overflow-y: hidden;
            }
            .leftbtn { 
                display: none;
                align-self: center;
                background-image: url(../assests/button-slider-left.svg);
                    width:40px;
                    height: 40px;
                    &:hover {
                        cursor: pointer;
                        background-image: url(../assests/button-slider-left-hover.svg);
                    }
                    body.dark & {
                        background-image: url(../assests/button-slider-left-md-noct.svg);
                        &:hover {
                            background-image: url(../assests/button-slider-left-hover-modo-noct-01.svg);
                        }
                    }
                }
            .rigthbtn { 
                display: flex;
                }
        
        }
    } 
}