// Colors -----------------

$main: #572EE5;
$nav_mobile: #562ee5ef;
$hover:#562ee5a8;
$secondary: #50E3C2;
$active: #9CAFC3;
$clear: white;
$modal:  rgba(233, 233, 233, 0.932);

// Dark Mode Colors --------------------

$darkmode : #37383C;
$trending_dark_mode: #222326;
$nav_dark_mode: #222326f8;

// Border ----------------

$border: 5px solid $main;
$border_crear: 1px solid $main;
$border_dark_mode : 5px solid black;

// Fonts ----------------------

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
