footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: $border;
    body.dark & {
        border-bottom: $border_dark_mode;
    }
    p{  
        margin-top: 49px;
        @extend %font-text-black;
        margin-bottom:24px;
    }
    .social_network {
        width:25%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
            color: #CDD6E0;
            &:hover{
                color: $main;
                body.dark & {
                    color: $clear;
                }
            }
        }                  
    }
    p{
        @extend %font-text-black;
        margin-bottom: 23px;
    }
}

//  Media querys
@include tablets {
    footer {
        padding: 0px 80px 0px 80px;
        display: flex;
        height: 116px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        .social_network{
            width: 10%;
            display: flex;
            flex-direction: row;
            margin-left: 10px;
        }
        .rights{
            
            margin-left: auto;
        }
        }
}